<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
  <body>
      <header class="header__flex">
        <img src="/images/real_digital_logo.jpg" alt="Real Digital Logo" class="header__logo" />
        <h1 class="header__h1">Real Digital Sim Stock</h1>
       </header>
      @RenderBody()       
   </body>
</html>

